* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-padding-top: 74px;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #ebecf2;
}

article {
  line-height: 1.5;
}

.accent-text {
  color: #ff5b36;
}

.shadow-bg {
  background-color: rgba(0, 0, 0, 0.9);
}

.section-title {
  text-align: center;
  text-transform: uppercase;
}

.underline {
  height: 4px;
  width: 15%;
  background-color: #ff5b36;
  margin: 0 auto 40px;
}

nav {
  text-transform: uppercase;
  z-index: 5;
  transition: background-color 0.6s;
}
nav .navbar-brand {
  font-weight: bold;
}
nav .navbar-brand:focus,
nav .navbar-brand:hover {
  color: #ff5b36;
}
nav .navbar-toggler {
  padding: 10px 15px;
}
nav .nav-link,
nav .navbar-nav .nav-link.active,
nav .navbar-nav .nav-link.show,
nav .navbar-brand,
nav .fa-bars {
  color: #fff;
}
nav .nav-link:focus,
nav .nav-link:hover,
nav .navbar-nav .nav-link.active,
nav .navbar-nav .nav-link.show {
  color: #ff5b36;
}

header.hero-img {
  position: relative;
  height: 100vh;
  background-image: url("../img/hero-img_small.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: 0;
  color: #fff;
}
header.hero-img .hero-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hwb(0 0% 100%/0.79);
  z-index: -5;
}
header.hero-img .hero-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}
header.hero-img .fa-chevron-down {
  position: absolute;
  left: 50%;
  bottom: 2rem;
  transform: translateX(-50%);
  font-size: 2rem;
  color: #ff5b36;
}

.aboutus i {
  margin-top: 20px;
  font-size: 30px;
}
.aboutus-card-title {
  font-size: 18px;
  text-transform: uppercase;
}
.aboutus-card-text {
  font-size: 14px;
}
.aboutus-hover {
  transition: color 0.3s;
}
.aboutus-hover:hover {
  color: #ff5b36;
}

.history-hero {
  position: relative;
  background-image: url("../img/water_small.jpg");
  background-size: cover;
  background-position: 17% 50%;
  background-attachment: fixed;
  z-index: 0;
  color: #ddd;
}
.history-hero-item {
  margin: 10px 0;
}
.history-hero-item i {
  font-size: 36px;
}
.history-hero-title {
  font-size: 24px;
}
.history-hero .link-item {
  text-decoration: none;
  color: #ff5b36;
  text-transform: uppercase;
}
.history-hero .history-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -5;
}

.combat-facilities .carousel-caption {
  left: 0;
  right: 0;
  padding: 40px 0;
  background-color: rgba(0, 0, 0, 0.8);
}
.combat-facilities .carousel-indicators {
  padding-bottom: 20px;
}

.contact {
  position: relative;
  background-image: url("../img/calendar_small.png");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  z-index: 0;
  color: #ddd;
}
.contact .underline {
  background-color: #ddd;
}
.contact-us {
  display: flex;
  align-items: center;
  color: #fff;
  text-align: center;
}
.contact-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 30px 0;
}
.contact-item h3 {
  margin-bottom: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.contact-item a {
  text-decoration: none;
  color: #fff;
  margin: 10px 0;
}
.contact-item .fb {
  color: #4267b2;
}
.contact-item .yt {
  color: #ff0000;
}
.contact-item .email {
  color: #fffc00;
}
.contact-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 9, 27, 0.9);
  z-index: -5;
}

@media (min-width: 768px) {
  header.hero-img {
    background-image: url("../img/hero-img_medium.jpg");
  }
  header.hero-img .hero-text .h1,
  header.hero-img .hero-text h1 {
    font-size: calc(2rem + 1.75vw);
  }
  header.hero-img .hero-text .h3,
  header.hero-img .hero-text h3 {
    font-size: calc(1.5rem + 0.8vw);
  }
  header.hero-img .hero-text p {
    font-size: calc(1rem + 0.6vw);
  }
  .history-hero {
    background-image: url("../img/water_medium.jpg");
  }
  .contact {
    background-image: url("../img/calendar_medium.png");
  }
}
@media (min-width: 992px) {
  html {
    scroll-padding-top: 72px;
  }
}
@media (min-width: 1200px) {
  header.hero-img {
    background-image: url("../img/hero-img_big.jpg");
  }
  .history-hero {
    background-image: url("../img/water_big.jpg");
  }
  .contact {
    background-image: url("../img/calendar_big.png");
  }
}/*# sourceMappingURL=main.css.map */