@use "./colors" as colors;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-padding-top: 74px;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: colors.$bg-color;
}

.accent-text {
  color: colors.$primary-color;
}

.shadow-bg {
  background-color: rgba(0, 0, 0, 0.9);
}

.section-title {
  text-align: center;
  text-transform: uppercase;
}

.underline {
  height: 4px;
  width: 15%;
  background-color: colors.$primary-color;
  margin: 0 auto 40px;
}

nav {
  text-transform: uppercase;
  z-index: 5;
  transition: background-color 0.6s;

  .navbar-brand {
    font-weight: bold;
  }
  .navbar-brand:focus,
  .navbar-brand:hover {
    color: colors.$primary-color;
  }
  .navbar-toggler {
    padding: 10px 15px;
  }
  .nav-link,
  .navbar-nav .nav-link.active,
  .navbar-nav .nav-link.show,
  .navbar-brand,
  .fa-bars {
    color: #fff;
  }

  .nav-link:focus,
  .nav-link:hover,
  .navbar-nav .nav-link.active,
  .navbar-nav .nav-link.show {
    color: colors.$primary-color;
  }
}

header.hero-img {
  position: relative;
  height: 100vh;
  background-image: url("../img/hero-img_small.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: 0;

  color: colors.$white-color;

  .hero-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: hwb(0 0% 100% / 0.79);
    z-index: -5;
  }

  .hero-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
  }

  .fa-chevron-down {
    position: absolute;
    left: 50%;
    bottom: 2rem;
    transform: translateX(-50%);
    font-size: 2rem;
    color: colors.$primary-color;
  }
}

.aboutus {
  i {
    margin-top: 20px;
    font-size: 30px;
  }

  &-card-title {
    font-size: 18px;
    text-transform: uppercase;
  }

  &-card-text {
    font-size: 14px;
  }

  &-hover {
    transition: color 0.3s;
  }
  &-hover:hover {
    color: colors.$primary-color;
  }
}

.history-hero {
  position: relative;
  background-image: url("../img/water_small.jpg");
  background-size: cover;
  background-position: 17% 50%;
  background-attachment: fixed;
  z-index: 0;
  color: colors.$light-gray;

  &-item {
    margin: 10px 0;

    i {
      font-size: 36px;
    }
  }

  &-title {
    font-size: 24px;
  }

  .link-item {
    text-decoration: none;
    color: colors.$primary-color;
    text-transform: uppercase;
  }

  .history-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -5;
  }
}

.combat-facilities {
  .carousel-item {
    // height: 600px;
  }

  .carousel-caption {
    left: 0;
    right: 0;
    padding: 40px 0;
    background-color: rgba(0, 0, 0, 0.8);
  }

  .carousel-indicators {
    padding-bottom: 20px;
  }
}

.contact {
  position: relative;
  background-image: url("../img/calendar_small.png");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  z-index: 0;

  color: colors.$light-gray;

  .underline {
    background-color: colors.$light-gray;
  }

  &-us {
    display: flex;
    align-items: center;
    color: colors.$white-color;
    text-align: center;
  }

  &-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px 0;

    h3 {
      margin-bottom: 15px;
      text-transform: uppercase;
      letter-spacing: 2px;
    }

    a {
      text-decoration: none;
      color: colors.$white-color;
      margin: 10px 0;
    }

    .fb {
      color: #4267B2;
    }
    .yt {
      color: #FF0000;
    }
    .email {
      color: #FFFC00;
    }
  }
  &-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 9, 27, 0.85);
    z-index: -5;
  }
}
// MEDIA QUERIES
@media (min-width: 768px) {
  header.hero-img {
    background-image: url("../img/hero-img_medium.jpg");

    .hero-text {
      .h1,
      h1 {
        font-size: calc(2rem + 1.75vw);
      }
      .h3,
      h3 {
        font-size: calc(1.5rem + 0.8vw);
      }
      p {
        font-size: calc(1rem + 0.6vw);
      }
    }
  }

  .history-hero {
    background-image: url("../img/water_medium.jpg");
  }

  .contact {
    background-image: url("../img/calendar_medium.png");
  }
}

@media (min-width: 992px) {
  html {
    scroll-padding-top: 72px;
  }
}

@media (min-width: 1200px) {
  header.hero-img {
    background-image: url("../img/hero-img_big.jpg");
  }

  .history-hero {
    background-image: url("../img/water_big.jpg");
  }

  .contact {
    background-image: url("../img/calendar_big.png");
  }
}
